// normalize css
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // overflow-y: hidden;
  height: 100%;
  background-color: var(--color-primary-light);

  & * {
    max-height: calc(((100vh - 11rem) / 3) * 6);
  }
}

.content-wrapper {
  display: flex;
  overflow: hidden;
}
