@mixin titleContainer() {
  color: var(--color-white);
  text-align: center;
  padding: 2.5rem 2rem;
}

// responsive breakpoints
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    // 600px
    @media only screen and (min-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    // 840px
    @media only screen and (min-width: 52.5em) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    // 1024px
    @media only screen and (min-width: 64em) {
      @content;
    }
  }
  @if $breakpoint == desktop-big {
    @media only screen and (min-width: 90em) {
      @content;
    }
  }

  @if $breakpoint == desktop-wide {
    @media only screen and (min-width: 120em) {
      @content;
    }
  }
}
