:root {
  // Colors
  --color-primary: #23383a;
  --color-primary-light: #3e6d6d;

  --color-blue: blue;
  --color-yellow: yellow;
  --color-green: green;

  --color-black: #000a0a;
  --color-white: #fff;

  --opacity-black: rgba(0, 0, 0, 0.9);
  --opacity-primary: rgb(35, 56, 58, 0.9);

  // Fonts {
  --font-small: 1.4rem;
  --font-default: 1.6rem;
  --font-big: 2rem;
  --font-heading-main: 3.6rem;
  --font-heading-sub: 3rem;

  // Height
  --product-active: 0;
}
