.navbar {
  font-size: var(--font-default);
  background-color: var(--color-primary-light);
  width: var(--main-content-width);
  position: absolute;
  left: calc(-100vw + 4.5rem);
  transition: transform 0.2s ease-in-out, opacity 0.2s 0.1s;
  text-align: center;
  padding: 2.5rem 0;
  opacity: 0;
  visibility: hidden;
  will-change: transform, opacity;
  min-height: 100vh;
  top: -11rem;
  padding-top: 11rem;

  @include respond(desktop) {
    padding: 4rem 0;
  }

  & ul {
    list-style: none;

    & a:link,
    & a:visited {
      color: var(--color-white);
      text-decoration: none;
    }
  }

  &.active {
    transform: translateX(100vw);
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.3);
  }

  & .menu-item {
    padding: 1rem 0;
    width: 70%;
    margin: 0 auto;

    &:last-child {
      border-top: 1px solid var(--color-primary);
      border-bottom: 1px solid var(--color-primary);
      margin-top: 3rem;

      @include respond(desktop) {
        padding-bottom: 5rem;
      }
    }
  }

  .sub-menu {
    display: none;
  }

  @include respond(desktop) {
    position: initial;
    background-color: transparent;
    width: auto;
    opacity: 1;
    visibility: visible;
  }
}
