.product {
  width: var(--main-content-width);
  min-height: var(--product-height);
  background-color: gray;
  transition: transform 0.15s ease-in-out;

  &:first-child {
    background-color: orangered;
  }

  &:last-child {
    background-color: yellowgreen;
  }

  &__title {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    font-size: var(--font-big);
    padding: 0.5rem 1rem;
  }

  &__description {
    @include titleContainer();
    // color: var(--color-white);
    // text-align: center;
    // padding: 2.5rem 2rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;

    // &--title {
    //   font-size: 2.4rem;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   margin-bottom: 2rem;

    //   & span {
    //     display: inline-block;
    //     width: 23rem;
    //   }
    // }

    &--content {
      font-size: var(--font-default);
    }
  }

  &__top-img {
    width: var(--main-content-width);
    height: var(--product-height);
  }

  &__categories {
    width: var(--main-content-width);
    // height: calc(((100vh - 11rem) / 3) * 2);
    background-color: lightblue;
    display: none;
    // visibility: hidden;
    // opacity: 0;
    transition: opacity 2s ease-in;
  }

  &__category {
    height: var(--product-height);
    display: block;
    text-decoration: none;

    &--title {
      background-color: rgba(0, 0, 0, 0.7);
      color: var(--color-white);
      font-size: var(--font-big);
      padding: 0.5rem 1rem;
      text-align: center;
    }
  }

  &.active {
    transform: translateY(var(--product-active));

    & .product__categories {
      display: block;
      // visibility: visible;
      // opacity: 1;
    }

    & .product__title {
      display: none;
    }

    & .product__description {
      visibility: visible;
      opacity: 1;
    }
  }
}
