.product {
  width: calc(var(--main-content-width) - 1.2rem);
  min-height: var(--product-height);
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
  color: var(--color-white);

  &__top-img {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: var(--main-content-width);
    height: var(--product-height);
    min-height: 12rem;

    &:hover {
      & .product__description {
        visibility: visible;
        opacity: 1;
      }

      & .product__title {
        visibility: hidden;
        opacity: 0;
      }
    }
  }

  &__title-container {
    & .product__title {
      font-size: var(--font-big);
    }
  }

  &__text {
    font-size: var(--font-default);
  }

  &:first-child {
    & .product__top-img {
      background-image: url('../../img/cover1.jpg');
    }
  }

  &:nth-child(2) {
    & .product__top-img {
      background-image: url('../../img/cover2.jpg');
    }
  }

  &:last-child {
    & .product__top-img {
      background-image: url('../../img/cover3.jpg');
    }
  }

  &__title {
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--color-white);
    font-size: var(--font-big);
    padding: 0.5rem 1rem;
    transition: opacity 0.2s ease-in-out;
  }

  &__description {
    @include titleContainer();

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 101%;
    width: 100%;
    background-color: var(--opacity-black);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    & .item-heading {
      flex-direction: column-reverse;
      justify-content: space-around;
      height: 100%;
      flex: 1;
    }

    &--content {
      font-size: var(--font-default);
      flex: 1;
      margin-right: 6rem;

      display: none;

      @include respond(desktop) {
        display: block;
      }
    }

    // & .fa-angle-left {
    //   display: none;
    // }
  }

  &__categories {
    width: var(--main-content-width);
    background-color: var(--color-primary-light);
    display: none;
    transition: opacity 2s ease-in;
  }

  &__category {
    height: 20rem;
    width: 100%;
    display: block;
    text-decoration: none;
    background-color: lightblue;

    @include respond(mobile) {
      width: calc((100vw - 4.5rem) / 2);
      &:nth-child(odd) {
        margin-left: calc((100vw - 4.5rem) / 2);
      }
    }

    @include respond(tablet) {
      width: calc((100vw - 4.5rem) / 3);

      &:nth-child(odd) {
        margin-right: calc((100vw - 4.5rem) / 3);
        margin-left: 0;
      }

      &:nth-child(3) {
        margin: 0 calc((100vw - 4.5rem) / 3);
      }

      &:nth-child(4) {
        margin-right: calc((100vw - 4.5rem) / 3);
      }

      &:nth-child(5) {
        margin: 0;
      }
    }

    @include respond(desktop) {
      width: calc((100vw - 25rem) / 3);
      height: var(--product-height);

      &:nth-child(odd) {
        margin-right: calc((100vw - 25rem) / 3);
      }

      &:nth-child(3) {
        margin: 0 calc((100vw - 25rem) / 3);
      }

      &:nth-child(4) {
        margin-right: calc((100vw - 25rem) / 3);
      }

      &:nth-child(5) {
        margin: 0;
      }
    }

    @include respond(desktop-wide) {
      width: calc((100vw - 25rem) / 5);

      &:nth-child(even) {
        margin-left: 0;
      }

      &:nth-child(odd) {
        margin-right: calc((100vw - 25rem) / 5);
      }

      &:nth-child(3) {
        margin-left: auto;
        margin-right: 0;
      }

      &:nth-child(4),
      &:nth-child(5) {
        margin-left: calc((100vw - 25rem) / 5);
        margin-right: 0;
      }
    }

    &--title {
      background-color: rgba(0, 0, 0, 0.7);
      color: var(--color-white);
      font-size: var(--font-big);
      padding: 0.5rem 1rem;
      text-align: center;
    }
  }

  &:nth-child(2) {
    & .product__category {
      @include respond(mobile) {
        width: calc((100vw - 4.5rem) / 2);
        &:nth-child(odd) {
          margin-left: calc((100vw - 4.5rem) / 2);
        }
      }

      @include respond(tablet) {
        width: calc((100vw - 4.5rem) / 3);

        &:first-child {
          margin: 0 calc((100vw - 4.5rem) / 3);
        }

        &:nth-child(3) {
          margin: 0 0 0 calc((100vw - 4.5rem) / 3);
        }

        &:nth-child(4) {
          margin: 0 calc((100vw - 4.5rem) / 3);
        }

        &:nth-child(5) {
          margin: 0;
        }
      }

      @include respond(desktop) {
        width: calc((100vw - 25rem) / 4);

        &:first-child {
          margin: 0 calc((100vw - 25rem) / 4) 0 0;
        }

        &:nth-child(3) {
          margin: 0 calc((100vw - 25rem) / 4);
        }

        &:nth-child(4) {
          margin: 0;
        }
      }

      @include respond(desktop-wide) {
        width: calc((100vw - 25rem) / 4);

        &:nth-child(even) {
          margin-left: 0;
        }

        &:nth-child(odd) {
          margin-right: calc((100vw - 25rem) / 4);
        }

        &:nth-child(3) {
          margin-right: calc((100vw - 25rem) / 4);
        }

        &:nth-child(4),
        &:nth-child(5) {
          // margin-left: calc((100vw - 25rem) / 4);
          // margin-right: 0;
          margin: 0;
        }
      }

      &--title {
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--color-white);
        font-size: var(--font-big);
        padding: 0.5rem 1rem;
        text-align: center;
      }
    }
  }

  &.active {
    transform: translateY(var(--product-active));

    & .product__top-img {
      height: 12rem;

      @include respond(desktop) {
        // height: 15rem;
        height: var(--product-height);
      }
    }

    & .product__categories {
      display: flex;
      flex-wrap: wrap;
    }

    & .product__title {
      display: none;
    }

    & .product__description {
      visibility: visible;
      opacity: 1;

      // & .fa-angle-left {
      //   display: block;
      // }

      & .fa-angle-down {
        transform: rotate(90deg);
      }
    }
  }
}
