.header {
  background-color: var(--color-primary);
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond(desktop) {
    height: 0;
  }

  &__text-box {
    text-align: center;

    @include respond(desktop) {
      display: none;
    }
  }

  &__home-link:link,
  &__home-link:visited {
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.5rem;
  }
}
