.sidebar {
  width: 4rem;
  background-color: var(--color-primary);

  position: relative;
  z-index: 10;

  &__icon-box {
    position: relative;
    top: 5rem;
    text-align: center;
  }

  &__icon {
    font-size: 2rem;
    color: var(--color-white);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
